<li class="flex {{ if .Params.title }}items-start{{ else }}items-center{{ end }} justify-start gap-3 mt-3 {{ .Params.class }} not-prose">
    {{ if ne .Params.icon "none" }}
    <div class="flex justify-start items-center">
        <i class="fa-regular fa-square-check text-2xl text-red"></i>
    </div>
    {{ end }}
    <div>
        {{ with .Params.title }}
        <h5 class="font-semibold text-lg text-blue font-poppins leading-[1.3em] capitalize">{{ . }}</h5>
        {{ end }}
        <span class='{{ if eq .Params.normal "true" }}text-black{{ else }}text-blue font-semibold{{ end }} font-poppins capitalize leading-[1.3em] text-wrap'>
            {{ .Params.text | safeHTML }}
        </span>
    </div>
</li>