<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 not-prose">
    {{ $consultBg := "images/service-consult.jpg" | relURL }}
    {{ $brokerBg := "images/service-business-broker.jpg" | relURL }}
    {{ $redactionBg := "images/service-redaction.jpg" | relURL }}
    {{ $investementBg := "images/service-investement.jpg" | relURL }}
    <div class="lg:p-12 my-2.5 mx-5 lg:m-2.5 min-h-55 lg:min-h-62.5 bg-no-repeat bg-center bg-cover service-shadow flex justify-center items-center rounded-[10px] relative bg-[url('{{ $consultBg }}')]">
        <span class="absolute inset-0 bg-black/70 rounded-[10px] z-10"></span>
        <a href="/" class="absolute inset-0 rounded-[10px] z-30"></a>
        <div class="text-white relative flex justify-center items-center flex-col gap-3 z-20">
            <i class="fa-solid fa-user-tie text-6xl"></i>
            <h4 class="text-xl text-center font-poppins font-bold">Consulting En Implantation/ Expatriation</h4>
        </div>
    </div>
    <div class="lg:p-12 my-2.5 mx-5 lg:m-2.5 min-h-55 lg:min-h-62.5 bg-no-repeat bg-center bg-cover service-shadow flex justify-center items-center rounded-[10px] relative bg-[url('{{ $brokerBg }}')]">
        <span class="absolute inset-0 bg-black/70 rounded-[10px] z-10"></span>
        <a href="/" class="absolute inset-0 rounded-[10px] z-30"></a>
        <div class="text-white relative flex justify-center items-center flex-col gap-3 z-20">
            <i class="fa-solid fa-users text-6xl"></i>
            <h4 class="text-xl text-center font-poppins font-bold">Business Broker (Courtier En Affaires)</h4>
        </div>
    </div>
    <div class="lg:p-12 my-2.5 mx-5 lg:m-2.5 min-h-55 lg:min-h-62.5 bg-no-repeat bg-center bg-cover service-shadow flex justify-center items-center rounded-[10px] relative bg-[url('{{ $redactionBg }}')]">
        <span class="absolute inset-0 bg-black/70 rounded-[10px] z-10"></span>
        <a href="/" class="absolute inset-0 rounded-[10px] z-30"></a>
        <div class="text-white relative flex justify-center items-center flex-col gap-3 z-20">
            <i class="fa-solid fa-address-card text-6xl"></i>
            <h4 class="text-xl text-center font-poppins font-bold">Rédaction De Business Plan</h4>
        </div>
    </div>
    <div class="lg:p-12 my-2.5 mx-5 lg:m-2.5 min-h-55 lg:min-h-62.5 bg-no-repeat bg-center bg-cover service-shadow flex justify-center items-center rounded-[10px] relative bg-[url('{{ $investementBg }}')]">
        <span class="absolute inset-0 bg-black/70 rounded-[10px] z-10"></span>
        <a href="/" class="absolute inset-0 rounded-[10px] z-30"></a>
        <div class="text-white relative flex justify-center items-center flex-col gap-3 z-20">
            <i class="fa-solid fa-money-bill-1 text-6xl"></i>
            <h4 class="text-xl text-center font-poppins font-bold">Investissement Immobilier Résidentiel Ou Commercial</h4>
        </div>
    </div>
</div>